---
import "../styles/global.css";
import { Hero } from '../components/Hero.tsx';
import { Testimonials } from "../components/Testimonials";
import { Content } from "../components/Content.tsx";
import { VideoContent } from "../components/VideoContent.tsx";
import { Tools } from "../components/Tools";
import { Footer } from "../components/Footer";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Quantium</title>
	</head>
	<body>
		<Hero />
		<Content />
		<Tools />
		<Testimonials />
		<VideoContent />
		<Footer />
	</body>
</html>
